h1 {
  font-family: 'Emilys Candy' ;
  font-size: 30 ;
  color: ;

}

button {
    background-color: #4A235A;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-top: 10px ;
    border-radius: 5px;
    width: 150px;
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


#score1 {
  width: 30%;
}

#score2 {
  width: 30%;
  
}
